# Virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# Local development settings
*.sqlite3
*.pyc

# Secret keys
*.env

# macOS
.DS_Store

# Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.db
*.sql

